body {
  background-color: #dadada;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  margin: 50px auto;
  width: 50%;
}

.preview {
  display: block;
}

h1 {
  width: 100%;
  font-size: 22px;
  margin: 5px 30px 30px 5px;
  padding: 10px 175px 175px 10px;
  font-family: roboto condensed;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: serif;
  font-weight: lighter;
  font-size: 16px;
  padding: 20px;
  text-align: left;
  float: none;
  margin: auto;
}

.preview baku {
 background-image: url("https://raw.githubusercontent.com/mehmadrid414/css-exercise-four/master/images/baku.jpg");
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
}

.preview london {
 background-image: url("https://raw.githubusercontent.com/mehmadrid414/css-exercise-four/master/images/london.png");
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
}

.preview madrid {
 background-image: url("https://raw.githubusercontent.com/mehmadrid414/css-exercise-four/master/images/madrid.jpg");
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
}

.preview rome {
 background-image: url("https://raw.githubusercontent.com/mehmadrid414/css-exercise-four/master/images/rome.jpg");
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
}

@media screen and (min-width: 575px) {
 .preview {
   width: 45%;
   height: 45%;
   display: inline-block;
   margin: 10px;
 }

 .container {
   margin: 50px;
   width: 75%;
 }
}

@media screen and (min-width: 991px){
  .preview {
  width: 22%;
  height: auto;
  display: inline-block;
  margin: 10px;
  }

  .container {
    margin: 50px;
    width: 80%;
  }
}
