body {
  background-color: #dadada;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  margin: 50px auto;
  width: 50%;
}

.preview {
  display: block;
}

h1 {
  width: 100%;
  font-size: 22px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 25px
}

h2 {
  font-family: serif;
  font-weight: lighter;
  font-size: 16px;
  padding: 20px;
  text-align: left;
  float: none;
  margin: auto;
}

.baku {
 background-image: url(https://raw.githubusercontent.com/mehmadrid414/css-exercise-four/master/images/baku.jpg);
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
}

.london {
 background-image: url(https://raw.githubusercontent.com/mehmadrid414/css-exercise-four/master/images/london.png);
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
}

.madrid {
 background-image: url(https://raw.githubusercontent.com/mehmadrid414/css-exercise-four/master/images/madrid.jpg);
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
}

.rome {
 background-image: url(https://raw.githubusercontent.com/mehmadrid414/css-exercise-four/master/images/rome.jpg);
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
}

@media screen and (min-width: 575px) {
  /*For tablets - with two column display*/
 .preview {
   width: 40%;
   height: 200px;
   display: inline-block;
   margin: 10px;
 }

 .container {
   margin: 50px;
   width: 75%;
 }
}

@media screen and (min-width: 991px){
  /*For laptops/desktops - with four column display*/
  .preview {
  width: 20%;
  display: inline-block;
  margin: 10px;
  }

  .container {
    margin: 50px;
    width: 80%;
  }
}
