body {
  background-color: #dadada;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  margin: 50px 10px 25px 0px;
  width: 95%;
}

.preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 110%;
  margin-bottom: 10px;
  padding-left: initial;
  padding-bottom: 20em;
  align-items: center;
}

h1 {
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 25px
}

h2 {
  font-family: serif;
  font-weight: lighter;
  font-size: 16px;
  padding: 20px;
  text-align: left;
  float: none;
  margin: auto;
}

.baku {
 background-image: url(https://raw.githubusercontent.com/mehmadrid414/css-exercise-four/master/images/baku.jpg);
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
}

.london {
 background-image: url(https://raw.githubusercontent.com/mehmadrid414/css-exercise-four/master/images/london.png);
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
}

.madrid {
 background-image: url(https://raw.githubusercontent.com/mehmadrid414/css-exercise-four/master/images/madrid.jpg);
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
}

.rome {
 background-image: url(https://raw.githubusercontent.com/mehmadrid414/css-exercise-four/master/images/rome.jpg);
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  /*For tablets - with two column display*/
 .preview {
   width: 45%;
   height: 210px;
   display: inline-block;
   margin: 13px;
   padding-right: 10px;
   align-items: center;
 }

 h1 {
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
 }


 .container {
   margin: 50px;
   width: 80%;
 }
}

@media screen and (min-width: 991px){
  /*For laptops - with four column display*/
  .preview {
  width: 20%;
  display: inline-block;
  margin: 10px;
  align-items: center;
  }

  h1 {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
 }

  .container {
    margin: 50px;
    width: 95%;
  }
}

@media screen and (min-width: 1100px){
  /*For desktops - with four column display*/
  .preview {
  width: 20%;
  display: inline-block;
  margin: 17px;
  align-items: center;
  }

  h1 {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
 }

  .container {
    margin: 50px;
    width: 95%;
  }
}
